body {
  background: lightblue;
}

header {
  background: purple;
}

h1 {
  text-align: center;
  color: lime;
  font-family: 'Faster One', monospace;
}

h2 {
  text-align: center;
  color: darkblue;
  font-family: 'Faster One', monospace;
}

h4 {
  text-align: center;
}

nav {
  background: purple;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Faster One', monospace;
}

img {
  border-radius: 20%;
  border: 5px solid lime;
}

.new {
  text-align: center;
  font-family: monospace;
  font-size: 20px;
}

.welcome {
  background-image: url("https://pbs.twimg.com/media/C5tREVBU8AA7sZH.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.enter {
  text-align: center;
  font-family: 'Faster One', monospace;
}

.big-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    font-family: monospace;
    padding-bottom: 10%;
}

/* .flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
} */

.banner {
  background: url("https://ricardoe30.files.wordpress.com/2010/12/cropped-e30-banner1.jpg");
  text-align: center;
  margin: 0 auto;
  padding: 120px;
  background-size: cover;
  background-position: center;
  font-family: 'Faster One', monospace;
}

#new {
  font-family: 'Faster One', monospace;
}

#edit {
  font-family: 'Faster One', monospace;
}

footer {
  text-align: center;
  background: purple;
  color: white;
  padding-top: 20px;
  bottom: 0;
  position: absolute;
  width: 100%;
  font-family: monospace;
  font-size: 15px;
}

.paragraph {
  margin: 20px 100px;
  padding: 10px;
  border: 10px solid lime;
  color: lightgrey;
  background-color: purple;
  font-family: monospace;
  font-size: 20px;
  text-align: center;
}

.show {
  position: relative;
  padding-bottom: 100px;
  text-align: center;
  font-family: 'Faster One', monospace;
  font-size: 20px;
}

.edit {
  text-align: center;
  font-family: monospace;
  font-size: 20px;
}

.list {
  font-family: 'Faster One', monospace;
  font-size: 30px;
  color: red;
}
